body {
    text-align: center;
    background: url("https://princessfionacrystalworld.files.wordpress.com/2013/05/3d-beautiful-scenery-hd-wallpaper.jpg");
    color: white;
}
h1 {
	margin-bottom: 0;
}
div{
	font-size: 20pt;
}